node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
.next
out
.vercel
.turbo
.cache
coverage
dist
build

*.log
*.tsbuildinfo

.env
.env.*
!.env.example

prisma/migrations/**/README.md

